.mainphoto {
  height: 450px;
  width: 575px;
  object-fit: cover;
  float: right;
}

.block {
  display: block;
  position: absolute;
}

#tiny {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 1px solid #525252;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}

#overview {
  float: right;
  display: flex;
  font-family: 'Lato', sans-serif;
}

#stars {
  text-transform: lowercase;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
  margin-top: 40px;
}

.gray {
  color: #525252 !important;
  margin-top: -5px !important;
}

#category {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 100;
  color: #525252;
  margin-top: 14px;
}

#bigtitle {
  font-size: 24px;
  font-weight: 700;
  color: #525252;
  margin-bottom: 10px;
}

#price {
  font-size: 14px;
  font-weight: 300;
  color: #525252;
  margin-bottom: 12px;
}

#styletext {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #525252;
  margin-bottom: 6px;
}

#styleBubbles {
  width: 230px;
}

.styleBubble {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin: 4px 0px 4px 8px;
}

#staricon {
  height: 33px;
  width: 33px;
}

.squared {
  margin-top: -2px;
  margin-left: -2px;
  padding: 5px;
  border: 1px solid #525252;
}

#addbag {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #525252;
  border: 1px solid #525252;
  width: 100%;
  border-radius: 0%;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

#selectsize {
  background-color: #ffffff;
  border-color: #525252;
  border-radius: 0;
  border-width: 1px;
}

#slogan {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: #525252;
  float: right;
  width: 575px;
}

#desc {
  font-size: 12px;
  font-weight: 300;
  color: #525252;
  font-family: 'Lato', sans-serif;
  float: right;
  width: 575px;
}

/* #pitch {
  border-right: 1px solid #525252;
} */

#checked {
  font-size: 12px;
  font-weight: 300;
  color: #525252;
  font-family: 'Lato', sans-serif;

  margin-left: 15px;
}

.selectsize {
  background-color: #ffffff;
  display: block;
	font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #525252;
  height: 35px;
  width: 100%;
  border-radius: 0;
  margin-top: 10px;
}

.selectqty {
  width: 80%;
  background-color: #ffffff;
  border-radius: 0%;
  display: block;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #525252;
  height: 35px;
  margin-top: 10px;
}

#bordered {
  border: 1px solid #525252;
  cursor: pointer;
}

#relatedlist {
  max-width: 900px;
  min-width: 850px;
  margin: auto;
}

#outfitlist {
  max-width: 900px;
  min-width: 850px;
  margin: auto;
}

#reviewButtons {
  background-color: grey; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#reviewInput {
  width: 300px;
}

.strikeout {
  text-decoration: line-through;
}

.red {
  color: maroon;
}

#carousel {
  height: 450px !important;
  width: 575px !important;
  float: right;
}

#robotoFont {
  font-family: "Roboto", sans-serif !important;
  color: #525252;
}

#maintitle {
  color: #ffffff !important;
  opacity: 80%;
  margin-left: 5px;
  font-family: "Lobster", sans-serif;
}
